<header>
  <div class="announcements">
    <div class="e-content"></div>
    <div class="e-content mid">
      <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
      <a href="javascript:void(0);">Shop Now</a>
    </div>
    <div class="e-content">
      <div class="language-dropdown">
        <p>English <span class="fa fa-chevron-down"></span></p>
      </div>
    </div>
  </div>
  <div class="top-navbar">
    <div class="container">
      <div class="logo">
          <p>Exclusive</p>
      </div>
      <nav>
          <ul class="nav-list">
            <li><a href="javascript:void(0);">Home</a></li>
            <li><a href="javascript:void(0);">Contact</a></li>
            <li><a href="javascript:void(0);">About</a></li>
            <li><a href="javascript:void(0);">Sign Up</a></li>
          </ul>
      </nav>
      <div class="actions-container">
          <div class="rowling">
            <form action="">
              <div class="search-box">
                <input type="text" placeholder="What are you looking for?">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
            <span><a href="javascript:void(0);"><i class="fa-regular fa-heart"></i></a></span>
            <span><a href="javascript:void(0);"><i class="fa fa-cart-shopping"></i></a></span>
          </div>
      </div>
    </div>
  </div>
</header>
