
<section class="container">
  <div class="cat"><div class="bl"></div>Today's</div>
  <div class="flash-sales-intro">
    <div>
      <p class="title">Flash Sales</p>
    
      <div class="timing">
        <div class="time">
          <span>Days</span>
          <p>03</p>
        </div>
        <div class="time">
          <p class="sep">:</p>
        </div>
        <div class="time">
          <span>Hours</span>
          <p>23</p>
        </div>
        <div class="time">
          <p class="sep">:</p>
        </div>
        <div class="time">
          <span>Minutes</span>
          <p>19</p>
        </div>
        <div class="time">
          <p class="sep">:</p>
        </div>
        <div class="time">
          <span>Seconds</span>
          <p>56</p>
        </div>
      </div>
    </div>
    <div class="navigator">
      <span><i class="fa fa-arrow-left"></i></span>
      <span><i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
  <div class="slide-container">
    <div class="slide-items">
      <div class="product-item">
       <div class="product-image">
        <div class="discount">-15%</div>
        <div class="wish-actions">
          <span><i class="fa-regular fa-heart"></i></span>
          <span><i class="fa-regular fa-eye"></i></span>
        </div>
        <div class="quick-to-cart">Add To Cart</div>
        <img src="/assets/images/products/product-10.png" alt="">
       </div>
        <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
        <div class="prices">
          <p class="curr">₦120</p>
          <p class="old">₦160</p>
        </div>
        <div class="rating">
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span>(10)</span>
        </div>
      </div>
      <div class="product-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-3.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="product-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-9.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="product-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-13.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="product-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-14.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
    </div>

    <div class="view-all">
      <a href="javascript:void(0);">View all products</a>
    </div>
  </div>
</section>
