<section class="container wishlist">
   <div class="wish-head">
        <h1>Wishlist (4)</h1>
        <button class="outline-button">Move All To Bag</button>
   </div>
   <div class="wish-products wrap">
      <div class="product-item">
         <div class="product-image">
          <div class="discount">-15%</div>
          <div class="wish-actions block">
            <span><a routerLink=""><i class="fa fa-trash-can"></i></a></span>
          </div>
          <div class="quick-to-cart block">Add To Cart</div>
          <img src="/assets/images/products/product-2.png" alt="">
         </div>
          <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
          <div class="prices">
            <p class="curr">₦120</p>
          </div>
      </div>
      
      <div class="product-item">
         <div class="product-image">
          <div class="discount">-15%</div>
          <div class="wish-actions block">
            <span><a routerLink=""><i class="fa fa-trash-can"></i></a></span>
          </div>
          <div class="quick-to-cart block">Add To Cart</div>
          <img src="/assets/images/products/product-4.png" alt="">
         </div>
          <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
          <div class="prices">
            <p class="curr">₦120</p>
          </div>
      </div>
      
      <div class="product-item">
         <div class="product-image">
          <div class="discount">-15%</div>
          <div class="wish-actions block">
            <span><a routerLink=""><i class="fa fa-trash-can"></i></a></span>
          </div>
          <div class="quick-to-cart block">Add To Cart</div>
          <img src="/assets/images/products/product-15.png" alt="">
         </div>
          <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
          <div class="prices">
            <p class="curr">₦120</p>
          </div>
      </div>
      
      <div class="product-item">
         <div class="product-image">
          <div class="discount">-15%</div>
          <div class="wish-actions block">
            <span><a routerLink=""><i class="fa fa-trash-can"></i></a></span>
          </div>
          <div class="quick-to-cart block">Add To Cart</div>
          <img src="/assets/images/products/product-5.png" alt="">
         </div>
          <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
          <div class="prices">
            <p class="curr">₦120</p>
          </div>
      </div>
   </div>
</section>

<product-widget></product-widget>