<section class="container account">
  <div class="page-direction">
    <span><a routerLink="/">Home</a></span>/
    <span class="active">Contact</span>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="contact-card">
        <div class="icon-group">
          <img src="/assets/images/icons/icons-phone.svg" alt="">
          <p>Call To Us</p>
        </div>
        <p>We are available 24/7, 7 days a week</p>
        <p>Phone: +234 810 000 0000</p>
        <hr />
        <div class="icon-group">
          <img src="/assets/images/icons/icons-mail.svg" alt="">
          <p>Write To Us</p>
        </div>
        <p>Fill out our forms and we will contact you within 24 hours</p>
        <p>Email: tavershima.web@gmail.com</p>
        <p>Email: tavershima.web@gmail.com</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="open-view">
        <form action="">
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="flat" placeholder="Your Name">
            </div>
            <div class="col-md-4">
              <input type="email" class="flat" placeholder="Email">
            </div>
            <div class="col-md-4">
              <input type="text" class="flat" placeholder="Phone">
            </div>
            <div class="col-md-12">
              <textarea class="flat" rows="8" placeholder="Your message"></textarea>
            </div>
          </div>
          <div class="btns">
            <button class="theme-btn">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
