<section class="container ad-banner1">
  <div class="banner">
    <div class="content">
      <p class="small-title">Categories</p>
      <p class="large-title">Enhance Your Music Experience</p>
      <div class="timing">
        <div class="time">
          <span>05</span>
          <span>Days</span>
        </div>
        <div class="time">
          <span>23</span>
          <span>Hours</span>
        </div>
        <div class="time">
          <span>59</span>
          <span>Minutes</span>
        </div>
        <div class="time">
          <span>35</span>
          <span>Seconds</span>
        </div>
      </div>
      <a href="javascript:void(0);" class="action-btn">Buy Now!</a>
    </div>
  </div>
</section>