<section class="container account">
  <div class="page-direction">
    <span><a routerLink="/account">Account</a></span>/
    <span><a routerLink="/">Gaming</a></span>/
    <span class="active">Gamin</span>
  </div>
  
  <div class="product-row">
    <div class="product-view">
      <div class="thumbnails">
        <img src="/assets/images/products/game-pad/Frame-895.png" alt="product-game">
        <img src="/assets/images/products/game-pad/Frame-896.png" alt="product-game">
        <img src="/assets/images/products/game-pad/Frame-897.png" alt="product-game">
        <img src="/assets/images/products/game-pad/Frame-919.png" alt="product-game">
      </div>
      <div class="show-view">
        <img src="/assets/images/products/game-pad/Frame-894.png" alt="product-game">
      </div>
    </div>
    <div class="details-view">
      <p class="title">Havic HV G-92 Gamepad</p>
      <div class="reviews">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star regular"></i></span>
        (150 Reviews) |
        <span class="is-stock">In stock</span>
      </div>
      <p class="price">₦6,500.00</p>
      <p class="short-description">
        Playstation 5 controller skin high quality vinyl with air channel adhesive
        for easy bubble free install and mesh free removal pressure adhesive
      </p>
      <br /> <hr />
      <div>
        Colors: <span></span>
      </div>
      <div>
        Sizes: <span></span>
      </div>
      <div class="conversion">
        <div class="qty-action">
          <button class="minus">-</button>
          <input type="text" value="1">
          <button class="plus">+</button>
        </div>
        <button class="theme-btn">Buy Now</button>
        <button class="wish"><i class="fa-regular fa-heart"></i></button>
      </div>
    </div>
  </div>
</section>
