<section class="container">
  <div class="cat"><div class="bl"></div>Categories</div>
  <div class="flash-sales-intro">
    <div>
      <p class="title">Browser By Category</p>
    </div>
    <div class="navigator">
      <span><i class="fa fa-arrow-left"></i></span>
      <span><i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
  <div class="slide-container">
    <div class="category-items">
      <div class="item">
        <img src="/assets/icons/cellPhone.svg" alt="">
        <p>Phones</p>
      </div>
      <div class="item">
        <img src="/assets/icons/computer.svg" alt="">
        <p>Computers</p>
      </div>
      <div class="item">
        <img src="/assets/icons/smartWatch.svg" alt="">
        <p>Smartwatch</p>
      </div>
      <div class="item">
        <img src="/assets/icons/camera.svg" alt="">
        <p>Camera</p>
      </div>
      <div class="item">
        <img src="/assets/icons/headphone.svg" alt="">
        <p>HeadPhones</p>
      </div>
      <div class="item">
        <img src="/assets/icons/gamepad.svg" alt="">
        <p>Gaming</p>
      </div>
    </div>
  </div>
</section>

