<section class="auth-layout">
    <div class="appraisal">
        <img src="/assets/images/side-image.png" alt="">
    </div>
    <div class="login-form">
        <h1>Log in to Exclusive</h1>
        <p>Enter your details below</p>
        <form action="">
            <input type="text" placeholder="Email or Phone Number">

            <input type="password" placeholder="Password">
            <div class="forgot">
                <button class="solid compact">Log in</button>
                <p><a routerLink="/">Forgot Password?</a></p>
            </div>

        </form>
        <p class="lg-reg">Dont have an account? <a routerLink="/register">Sign up</a></p>
    </div>
</section>