<section class="auth-layout">
    <div class="appraisal">
        <img src="/assets/images/side-image.png" alt="">
    </div>
    <div class="login-form">
        <h1>Create an account</h1>
        <p>Enter your details below</p>
        <form action="">
            <input type="text" placeholder="Name">

            <input type="text" placeholder="Email or phone number">

            <input type="password" placeholder="Password">
            <button class="solid">Create Account</button>
            <button class="outline">Sign up with Google</button>
        </form>
        <p class="lg-reg">Already have an account? <a routerLink="/login">Log in</a></p>
    </div>
</section>