.app-footer{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 0;
}

.app-footer .logo{
    color: #fff;
    font-size: 24px;
}

.sub-t{
    font-size: 16px;
    color: #fff;
    margin: 10px 0 0 0;
    font-family: 'Poppins-Medium';
}

.notice{
    font-size: 14px;
    color: #fff;
    margin: 10px 0 10px 0;
}

.subscription-input{
    padding: 3px 5px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.subscription-input input{
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    width: 87%;
    padding: 3px 0;
}

.subscription-input button{
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.info *{
    color: #fff;
}

.info h5{
    font-size: 18px;
    font-family: 'Poppins-Medium';
}

.info p:first-of-type{
    margin-top: 20px;
}

.info p{
    font-size: 14px;
    word-wrap: break-word;
}

.info ul{
    list-style-type: none;
    padding: 0;
    font-size: 14px;
}

.info ul li{
    margin-bottom: 10px;
}

.info ul li:first-of-type{
    margin-top: 20px;
}

.copyright{
    text-align: center;
    align-content: center;
    margin-top: 40px;
}

.copyright p{
    margin: 0;
    border-top: 1px solid #212529;
    font-size: 14px;
    color: #212529;
    padding: 20px 0;
}

.info .app-download{
    display: flex;
    align-items: center;
}

.info .app-download .stores{
    margin-left: 10px;
}

.info .app-download .stores a:last-of-type svg{
    margin-top: 5px;
    vertical-align: middle;
}