.shop-assurance .item{
    text-align: center;
}

.shop-assurance .fast{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Poppins-SemiBold';
    margin: 20px 0 0 0;
}

.shop-assurance .free{
    font-size: 14px;
    margin: 0;
}