<section class="container">
  <div class="cat"><div class="bl"></div>Featured</div>
  <div class="flash-sales-intro">
    <div>
      <p class="title">New Arrivals</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="banner"><img src="/assets/images/banners/Frame-684.png" alt=""></div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-md-12">
        <div class="banner"><img src="/assets/images/banners/Frame-685.png" alt=""></div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="banner"><img src="/assets/images/banners/Frame-686.png" alt=""></div>
        </div>
        <div class="col-md-6">
          <div class="banner"><img src="/assets/images/banners/Frame-687.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>
