
<section class="container">
  <div class="cat"><div class="bl"></div>This Month</div>
  <div class="flash-sales-intro">
    <div>
      <p class="title">Best Selling Products</p>
    
    </div>
    <div class="navigator">
      <div class="view-all">
        <a href="javascript:void(0);">View all</a>
      </div>
    </div>
  </div>
  <div class="slide-container">
    <div class="slide-items wrap">
      <div class="slide-item">
       <div class="product-image">
        <div class="discount">-15%</div>
        <div class="wish-actions">
          <span><i class="fa-regular fa-heart"></i></span>
          <span><i class="fa-regular fa-eye"></i></span>
        </div>
        <div class="quick-to-cart">Add To Cart</div>
        <img src="/assets/images/products/product-10.png" alt="">
       </div>
        <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
        <div class="prices">
          <p class="curr">₦120</p>
          <p class="old">₦160</p>
        </div>
        <div class="rating">
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span>(10)</span>
        </div>
      </div>
      <div class="slide-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-3.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="slide-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-9.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="slide-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-13.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
       <div class="slide-item">
        <div class="product-image">
         <div class="discount">-15%</div>
         <div class="wish-actions">
           <span><i class="fa-regular fa-heart"></i></span>
           <span><i class="fa-regular fa-eye"></i></span>
         </div>
         <div class="quick-to-cart">Add To Cart</div>
         <img src="/assets/images/products/product-14.png" alt="">
        </div>
         <p class="title"><a href="javascript:void(0);">havit h2 g92 gamepad</a></p>
         <div class="prices">
           <p class="curr">₦120</p>
           <p class="old">₦160</p>
         </div>
         <div class="rating">
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span><i class="fa fa-star"></i></span>
           <span>(10)</span>
         </div>
       </div>
    </div>
  </div>
</section>
